@import "normalize.styl"
@import "fonts.styl"

gris_claro = #818181
gris_oscuro = #333

body 
	font-size 16px
	
figure
	margin 0
	
.absolute
	position absolute
	
.border-bottom
	border-bottom 1px solid gris_oscuro
			
.container
	padding 1rem
	font-size 0
	text-align center

.header
	height 3.5em
	.boton-menu
		position absolute
		top 50%
		margin-top -5px
		margin-left .5em
	.titulo
		text-align center
		line-height 3.5em
		
.menu
	display none
	
.player
	width auto
	text-align center

.relative
	position relative
	
.song
	display inline-block
	font-size 1rem
	margin-right 1em
	
	
		

	

		
	
	
	
