@import "normalize.styl"
@import "fonts.styl"

gris_claro = #818181
gris_oscuro = #333

body 
	font-size 16px
	
figure
	margin 0
	
.absolute
	position absolute
	
.actions
	background rgba(black, 0.3)
	bottom 0
	left 0
	position absolute
	right 0
	text-align right

.action
	font-size 16px

.border-bottom
	border-bottom 1px solid gris_oscuro
	
.center
	text-align center
			
.container
	font-size 0
	padding 1rem
	text-align center

.header
	height 3.5em
	.boton-menu
		margin-left .5em
		margin-top -5px
		position absolute
		top 50%
	.titulo
		line-height 3.5em
		text-align center
	
.max
	top -1px
	right 0
	position absolute
	
.min 
	left 0
	position absolute
		
.menu
	display none
	
.padding
	padding 1em
	
.player
	margin 0 auto
	width 20em
	
.progress
	position relative

.total
	height 5px
	background gris_oscuro
	width 75%
	margin 0 auto

.estado
	height 5px
	background #800040
	width 25%

.circulo
	height 10px
	background black
	position absolute
	top 0 !important
	

.relative
	position relative
	
.song
	display inline-block
	font-size 1rem
	margin-right 1em
	&:nth-child(even)
		margin-right 0
		

	
	
		

	

		
	
	
	
